.product-recommendations {
  display: block;

  slideshow-component {
    ul {
      scroll-padding-left: 0 !important;

      &::after {
        display: none;
      }

      .slider__slide {
        width: 50%;

        @media (min-width: 1025px) {
          .product-card-wrapper {
            background: var(--color-white);
            padding: 1rem 1rem 2rem;
            border-radius: 0.8rem;

            &:hover {
              a {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .card__information {
      padding-top: 1rem;
      padding-bottom: 0;

      .card__heading {
        text-align: center;
        font-size: var(--font-size-sm);
        color: var(--color-smoky-black);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
    }

    .card__content {
      .card__information {
        padding-top: 0;

        .card__heading {
          display: none;
        }

        .card-information {
          text-align: center;
        }

        .price {
          margin-top: 0;

          span {
            margin-top: 0;
            text-align: center;
            font-size: 1.3rem;
            font-weight: 700;
            color: var(--color-smoky-black);
            letter-spacing: 0;
          }

          &.price--on-sale {
            .price__sale {
              display: inline-flex;
              flex-direction: row-reverse;
              justify-content: center;

              .price-sale {
                padding-left: .5rem;
              }
            }
          }

          .price-sale {
          .price-item--regular {
            margin: 0;
          }
          }
        }
      }
    }

    .slider-buttons {
      .slider-button {
        svg {
          width: 2.2rem;
          height: auto;
          color: var(--color-black);
        }

        &.slider-button--prev,
        &.slider-button--next {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 110;
          padding: 0;
          width: fit-content;

        }

        &.slider-button--next {
          right: 0;
          margin-right: .5rem;
        }

        &.slider-button--prev {
          left: 0;
          margin-left: .5rem;
        }
      }

      .slideshow__control-wrapper {
        .slider-counter__link--dots .dot {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}

.product-recommendations__heading {
  margin: 0 0 3rem;
  font-size: var(--font-size-xl);
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  width: 100%;
}

.mobile-hidden {
  display: none;
}

@media (min-width:1025px) {
  .mobile-hidden:not(.desk-hidden) {
    display: block;
  }

  .desk-hidden {
    display: none;
  }

  .product-recommendations__heading {
    font-size: var(--font-size-xxxl);
  }
}
